<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Backbone_1</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div id="contacts">
      <header>
        <div id="filter"><label>Show me:</label></div>
        <a id="showForm" href="#">Add new contact</a>
        <form id="addContact" action="#">
          <label for="photo">Photo:</label><input id="photo" type="file" />
          <label for="name">Name:</label><input id="name" />
          <label for="type">Type:</label><input id="type" />
          <label for="address">Address:</label><input id="address" />
          <label for="tel">Tel:</label><input id="tel" />
          <label for="email">Email:</label><input id="email" />
          <button id="add">Add</button>
        </form>
      </header>
    </div>
    
    <script id="contactTemplate" type="text/template">
      <img src="<%= photo %>" alt="<%= name %>" />
      <h1><%= name %><span><%= type %></span></h1>
      <div><%= address %></div>
      <dl>
        <dt>Tel:</dt><dd><%= tel %></dd>
        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
      </dl>
      <button class="delete">Delete</button>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
    window.App = {};
    App.Models = {};
    App.Collections = {};
    App.Views = {};
    App.Routers= {};
    </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
